<!DOCTYPE html>
<html>
<head lang="en">
{%  load staticfiles %}

    <meta charset="UTF-8">

    <title>Sylvestre's coding adventures</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="A front end developer adventurer's blog">
	<meta name="author" content="Sylvestre Gug">

    <link rel="stylesheet" type="text/css" href="{%  static 'bootstrap/dist/css/bootstrap.min.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{%  static 'bootstrap/dist/css/bootstrap-theme.min.css' %}"/>

    <link rel="stylesheet" type="text/css" href="{%  static 'css/general-style.css' %}"/>

    <!-- Custom Fonts -->
    <link href="{%  static 'font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

</head>

<body id="{% block body_id %}Home{% endblock %}" class="{% block body_class %}{% endblock %}">
<!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top bg-black">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">Sylvestre's Blog</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#services">Services</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#portfolio">Portfolio</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#about">About</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#team">Team</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
    {%  block body_content %}{%  endblock %}

    <footer class="footer">
      <div class="container">
        <p class="text-muted">Place sticky footer content here.</p>
      </div>
    </footer>

    <script rel="script" type="text/javascript" src="{%  static 'jquery/dist/jquery.js' %}"></script>
    <script rel="script" type="text/javascript" src="{% static 'bootstrap/dist/js/bootstrap.min.js' %}"></script>
    <script rel="script" type="text/javascript"  src="{%  static 'js/pfjs.js' %}"></script>

</body>

</html>